@font-face {
	font-family: "Pangram Light";
	src: url("../fonts/pangram/Pangram-Light.otf");
	font-weight: normal;
}

@font-face {
	font-family: "Pangram";
	src: url("../fonts/pangram/Pangram-Regular.otf");
	font-weight: normal;
}

@font-face {
	font-family: "Pangram Bold";
	src: url("../fonts/pangram/Pangram-Bold.otf");
	font-weight: bold;
}

@font-face {
	font-family: "Pangram Black";
	src: url("../fonts/pangram/Pangram-Black.otf");
	font-weight: 900;
}
