$filter-background: #1e232d;
$filter-row-border-color: lighten(
	$color: $filter-background,
	$amount: 3.5,
);

#game-filter {
	background-color: $filter-background;
}

.filter-row {
	font-family: $font-pills;

	transition: background 0.3s;
	position: relative;

	&:hover {
		background-color: lighten($color: $filter-background, $amount: 3);

		.filter-selector,
		.filter-options {
			display: block;
		}
	}

	&:last-child .filter-title {
		border-right: 1px solid $filter-row-border-color;
	}
}

.filter-title {
	padding: px2rem(24px);
	border-left: 1px solid $filter-row-border-color;
	cursor: pointer;

	.fa-angle-down {
		margin-left: 8px;
	}
}

.filter-selector,
.filter-options {
	display: none;
	position: absolute;
	background-color: lighten($color: $filter-background, $amount: 3);
	top: 100%;
	left: 0;
	min-width: 250px;
	max-height: 450px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
	z-index: 20;

	li {
		padding: 8px 17px;
	}
}

.selector-ram {
	li {
		width: 50%;
	}
}

.filter-options {
	min-height: 100px;
	padding: 30px 10px 30px 17px;

	input {
		padding: 0 8px;
		color: #c4c4c4;
		outline: none;
		width: 70px;
		height: 40px;
		border: 1px solid #353d4c;
		background-color: transparent;
		-moz-appearance: textfield;

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
		}
	}
}
