$grid-gutter-width: 16px !default;

$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1040px,
) !default;

@import "owl.carousel/src/scss/owl.carousel";
@import "bootstrap/scss/bootstrap";
@import "nouislider/distribute/nouislider";

@import "./0-base/base";

@import "./1-layout/layout";

@import "./2-modules/modules";

@import "./0-base/responsive";
